* {
  font-family: "Comic Sans MS" !important;
}

h1, h2, h3 {
  font-family: "Times New Roman" !important;
}

* {
  background: none !important;
}

body {
  background: url('images/truncbyh.gif') !important;
}